.navbar-style {
  background-color: rgb(223, 199, 168);
}
.logo-img-style {
  height: 50px;
  width: 50px;
  border-radius: 20px;
}
.logo-text-style {
  margin: -21px 0px 0px 50px;
}
* {
  font-family: "Times New Roman", Times, serif;
}
main {
  min-height: 92vh;
}
footer {
  background-color: rgb(223, 199, 168);
  padding: 10px;
}
marquee {
  margin-top: 1rem;
  font-size: 1rem;
}
.p-style {
  text-align: justify;
}

td {
  text-align: center;
}
.vision {
  width: 90%;
  height: 100%;
}
.about {
  width: 100%;
}
